/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Contenedor principal del catálogo */
.catalogo-container {
  display: grid;
  grid-template-columns: 250px 1fr; /* Sidebar 250px + productos */
  gap: 20px;
  padding: 0px;
  margin: 50px;
}

/* Sidebar de filtros */
.aside-filtros {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  height: fit-content;
}

.aside-filtros h3 {
  margin-bottom: 20px;
  color: #333;
  font-size: 18px;
  border-bottom: 2px solid #760499;
  padding-bottom: 10px;
}

.filtro h4 {
  margin: 15px 0 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: #353333;
}

/* Grilla de productos */
.productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.producto {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.producto button{
  border: 1px;
  border-radius: 10px;
  ;
}

.producto:hover {
  transform: translateY(-5px);
}

.producto img {
  max-width: 100%;
  border-radius: 8px;
}

.producto button {
  background: black;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

/* Main del catálogo */
.catalogo-main {
  padding: 0;
  margin: 0;
}

.catalogo-main h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

/* Grilla de productos */
.productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
}

